.gallery {
  position: relative;
  h2 {
    text-align: center;
    margin-bottom: 50px;

  }
  &-illustration-1 {
    position: absolute;
    left: 10px;
    top: 100px
  }
  &-illustration-2 {
    position: absolute;
    right: 50px;
    top: 0;
  }
}
