.hero {
    background-image: url('../img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    min-height: 700px;
    color: #fff;
    position: relative;
    padding-bottom: 60px;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(24, 24, 24, 0.3);
        top: 0;
        left: 0;
    }
    .labeled {
        color: var(--color-black);
        font-weight: 700;
        background-color: #fff;
        padding: 15px;
        border-radius: 40px;
        position: relative;
        height: 100px;
        display: inline-block;
        line-height: 0.9;
    }
    &__wrapper {
        max-width: 75%;
        position: relative;
        z-index: 1;
        margin-top: 60px;
    }
    &__title {
        position: relative;
        .label {
            position: absolute;
            left: 84px;
            transform: rotate(-5deg);
            bottom: -48px;
            white-space: nowrap;
            width: 385px;
        }
    }
    &__paragraph {
        width: 65%;
        margin-top: 28px;
        font-size: 20px;
    }
    &__tags {
        display: flex;
        margin-top: 34px;
        width: 65%;
        flex-wrap: wrap;
        gap: 16px;
    }
    .button {
        margin-top: 24px;
    }

}
.tours-hero {
    .hero__wrapper {
        max-width: 80%;
        margin: 60px auto 0;
        text-align: center;
    }
    .hero__paragraph {
        width: 100%;
    }
    &__filter {
        background-color: #fff;
        border-radius: 40px;
        padding: 28px;
        color: var(--color-gray-400);
        margin-top: 86px;
        &-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 28px;
        }
        &-item { 
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            span {
                margin-left: 10px;
            }
        }
        select, input {
            border-radius: 50px;
            height: 48px;
            width: 245px;
            padding: 8px 16px;
            border: 1px solid var(--color-gray-300);
            padding-left: 32px;
            font-family: var(--font-family);
        }
        .date {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            position: relative;
            &::before {
                content: '';
                width: 16px;
                height: 16px;
                position: absolute;
                left: 16px;
                top: 50%;
                transform: translateY(-50%);
                background-image: url('../img/Calendar.svg'); 
                background-repeat: no-repeat;
            }

        }
        .submit-form {
            background-color: var(--color-primary);
            width: 74px;
            height: 74px;
            border-radius: 50%;
        }
        .submit-txt {
            display: none;
        }
    }
    .type, .destination {
        position: relative;
        &::before {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
        }
    }
    .type::before {
        background-image: url('../img/Palette.svg'); 
       
    }
    .destination::before {
        background-image: url('../img/Location.svg');   
        
    }
}

.single-tour-hero {
    background-image: url('../img/tour-s.png');
    position: relative;
    
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(24, 24, 24, 0.15);
        z-index: 0;
    }
    .hero__wrapper {
        margin: 0 auto;
        text-align: center;
    }
    .hero__paragraph {
        width: 100%;
    }
    .single-tour-hero-form {
        background-color: rgba(118, 118, 188, 0.3);
        backdrop-filter: blur(8px);
        margin: 50px auto 0;
        width: fit-content;
        border-radius: 15px;
        padding: 24px;
        &__wrapper {
            display: flex;
            gap: 20px;
            
        }
        select, input {
            border-radius: 50px;
            height: 40px;
            width: 180px;
            padding: 8px 16px;
            padding-left: 32px;
            background-color: rgba(173, 173, 173, .5);
            border: 0;
            font-family: var(--font-family);
            &::placeholder {
                color: #fff;
            }
        }
        .button {
            margin: 0;
            height: 40px;
        }
        .form-descr {
            font-size: 11px;
            font-weight: 300;
            margin-bottom: 18px;
            text-align: left;
            max-width: 341px;
        }
    }
}

.about-hero {
    min-height: 630px;
    .hero__wrapper {
        max-width: 70%;
        margin: 60px auto 0;
        text-align: center;
    }
    .hero__paragraph {
        width: 100%;
    }
    .h1 {
        position: relative;
    }
    .label {
        height: 33px;
        font-size: 13px;
        font-weight: 500;
        width: 320px;
        padding: 8px 20px;
        left: 58%;
        bottom: -10px;
    }
}
@media (max-width: 1399px) {
    .h1 {
        font-size: 65px;
    }
    .hero {
        .labeled {
            line-height: 70px;
            .label--primary {
                line-height: 0.9;
            }
        }
    }
    .tours-hero {
        &__filter {
            &-wrapper {
                gap: 15px;
            }
            select, input {
                width: 195px;
            }
        }
    }
    .single-tour-hero {
        .hero {
            &__wrapper {
                max-width: 90%;
            }
        }
    }
}

@media (max-width: 1199px) {
    .hero {
        padding-top: 120px;
        &__wrapper {
            min-width: 85%;
        }
        &__tags {
            .tag {
                height: 34px;
                padding: 0 12px;
            }
        }
        & .button {
            height: 48px;
        }
    }
    .tours-hero {
        &__filter {
            .submit-form {
                width: 64px;
                height: 64px;
            }
        }
    }
    .single-tour-hero {
        .hero {
            &__wrapper {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 991px) {
    .hero {
        &__wrapper {
            max-width: 100%;
            margin-bottom: 100px;
            .h1 {
                font-size: 60px;
            }
        }
        .labeled {
            .label--primary {
                width: 285px;
                bottom: -37px;
                left: 65px;
                padding: 10px 15px;
                height: 48px;
                gap: 10px;
                font-size: 12px;
            }
        }
    }
    .tours-hero {
        .hero__wrapper {
            max-width: 100%;
        }
        &__filter {
            select, input {
                width: 175px;
            }
        }
    }
    .single-tour-hero {
        .single-tour-hero-form{
            input {
                width: 100%;
            }
            &__wrapper {
                flex-wrap: wrap;
                column-gap: 4%;
                row-gap: 20px;
            }
            &__item {
                width: 48%;
                input {
                    width: 100%;
                }
            }
            .button {
                width: 48%;
            }
        }
    }
}

@media (max-width: 767px) {
    .hero {
        &__wrapper {
            .h1 {
                font-weight: 500;
                font-size: 48px;
            }
        }
        .labeled {
            line-height: 50px;
            height: 75px;
            padding: 15px;
            border-radius: 24px;
            .label--primary {
                width: 240px;
                bottom: -23px;
                left: 40px;
                padding: 10px 10px;
                height: 36px;
                gap: 5px;
                font-size: 10px;
                i {
                    width: 25px;
                }
            }
        }
        &__paragraph {
            width: 80%;
        }
        &__tags {
            width: 80%;
        }
    }
    .tours-hero {
        &__filter {
            margin-top: 65px;
            &-wrapper {
                flex-wrap: wrap;
            }
            &-item {
                width: 48%;
                label {
                    width: 100%;
                    select, input {
                        width: 100%;
                    }
                }
            }
            select, input {
                width: 195px;
            }
            .submit-form {
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--color-white);
                width: 48%;
                height: 48px;
                border-radius: 50px;
                margin-top: 25px;
                font-weight: 500;
                font-size: 15px;
                span {
                    display: block;
                }
                svg {
                    width: 22px;
                    height: 22px;
                    margin-left: 3px;
                }
            }
        }
    }
    .about-hero {
        .label {
            width: 275px;
            left: 45%;
            bottom: -15px;
            font-size: 11px;
            transform: rotate(-2deg);
            i {
                width: 25px;
            }
        }
    }
}

@media (max-width: 599px) {
    .hero {
        .h1 {
            line-height: 1.5;
            font-size: 50px;
        }
        .labeled {
            .label--primary {
                bottom: 55px;
                left: 110px;
                transform: rotate(-3deg);
            }
        }
        &__paragraph {
            width: 90%;
        }
        &__tags {
            width: 90%;
        }
    }
    .tours-hero {
        &__filter {
            &-item {
                gap: 5px;
                span {
                    font-size: 12px;
                }
            }
        }
    }
    .about-hero {
        .label {
            width: 255px;
            left: 38%;
            bottom: -10px;
            font-size: 10px;
            height: 28px;
            i {
                line-height: 10px;
            }
        }
    }
    .single-tour-hero {
        .single-tour-hero-form{
            .button {
                font-size: 11px;
            }
            input {
                font-size: 11px;
            }
        }
    }
}

@media (max-width: 480px) {
    .hero {
        .h1 {
            font-size: 42px;
        }
        .labeled {
            .label--primary {
                bottom: 55px;
                left: 105px;
                transform: rotate(-2deg);
                width: 190px;
                height: 28px;
                padding: 5px;
                font-size: 8px;
                i {
                    width: 20px;
                }
            }
        }
        &__wrapper {
            margin-top: 0;
        }
        &__tags {
            width: 100%;
            .tag {
                height: 30px;
                padding: 0 10px;
            }
        }
        &__paragraph {
            font-size: 15px;
        }
    }
    .tours-hero {
        &__filter {
            margin-top: 50px;
            &-item {
                width: 100%;
            }
            &-wrapper {
                justify-content: center;
            }
            .submit-form {
                width: 70%;
            }
        }
    }
    .about-hero {
        .h1 {
            font-size: 38px;
        }
        .label {
            width: 245px;
            left: 25%;
            font-size: 9px;
            height: 25px;
            i {
                width: 20px;
            }
        }
    }
    .single-tour-hero {
        .single-tour-hero-form {
            input {
                padding-left: 16px;
            }
            .button {
                font-size: 9px;
                padding: 8px 12px;
            }
            &__wrapper {
                row-gap: 14px;
            }
        }
    }
}

@media (max-width: 375px) {
    .about-hero {
        .h1 {
            font-size: 32px;
        }
        .label {
            left: 15%;
            transform: rotate(-1deg);
            bottom: 32px;
        }
    }
}

.plane {
    display: none; // DELETE
}
