.presentation {
    background-image: url('../img/presentation.png');
    position: relative;
    padding: 80px 0;
    background-size: cover;
    
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(24, 24, 24, 0.15);
        z-index: 0;
    }
    &__wrapper {
        background-color: rgba(173, 173, 173, 0.4);
        backdrop-filter: blur(8px);
        max-width: 82%;
        margin: 0 auto;
        border-radius: 15px;
        display: flex;
        position: relative;
        padding: 120px;
        color: #fff;
    }
    &__info {
        max-width: 374px;
    }
    &__heading {
        font-size: 36px;
    }
    &__sub {
        margin-top: 16px;
        max-width: 221px;
    }
    .button {
        margin-top: 20px;
    }
    &__ill {
        position: absolute;
        right: -120px;
        top: 50%;
        transform: translateY(-50%);
        img {
            max-width: 465px;
            max-height: 554px;
        }
    }
}

@media (max-width: 1199px) {
    .presentation__ill img {
        max-width: 355px;
        max-height: 424px;
    }
    .presentation__wrapper {
        padding: 60px;
    }
}

@media (max-width: 991.99px) {
    .presentation__ill {
        right: 0px;
    }
    .presentation__ill img {
        max-width: 255px;
        max-height: 354px;
    }
    .presentation__wrapper {
        padding: 30px;
        max-width: 100%;
    }
}

@media (max-width: 767.99px) {
    .presentation__ill {
        display: none;
    }
}