.team {
    .h2 {
        text-align: center;
    }
    &__wrapper {
        margin-top: 60px;
        position: relative;
    }
    &-slider {
        padding: 60px 40px; // размер тени + запас
        margin: -60px -40px; // компенсируем отступы
        
        > .slick-list {
            padding: 15px 30px !important;
        }
        > .slick-next {
            right: 25px;
        }
        > .slick-prev {
            left: 25px;
        }
    }
    .swiper-slide {
        height: auto;
    }
    &-card {
        background-color: #fff;
        box-shadow: 7px 14px 22px rgba(102, 102, 102, .1);
        margin: 0 52px;
        padding: 36px;
        height: 100%;
        &__top {
            display: flex;
            gap: 24px;
        }
        &__img {
            width: 152px;
            height: 152px;
        }
        &__top-info {
            width: calc(100% - 176px);
        }
        .name {
            font-size: 16px;
            font-weight: 600;
            font-family: var(--font-family-alt);
        }
        .descr {
            color: var(--color-gray-400);
            margin-top: 20px;
        }
        .exp {
            font-size: 18px;
            color: var(--color-primary);
            margin-top: 10px;
        }
        &__reviews {
            margin-top: 30px;
            position: relative;
            &::before, &:after {
                content: '';
                position: absolute;
                background-image: url('../img/icons/brackets.svg');
                background-repeat: no-repeat;

                width: 22px;
                height: 20px;
            }
            &::before {
                left: 0;top: 0;
            }
            &:after {
                right: 0;top: -8px;
                transform: rotate(180deg);
            }
            .slick-arrow {
                width: 20px;
                height: 20px;
                border: 0;
                top: 75%;
            }
            .slick-next {
                background-size: 10px;
            }
            .slick-prev {
                background-size: 10px;
                background-image: url(../img/icons/arrow-next.svg);
                transform: rotate(180deg) translateY(50%);
                background-position: center;
                background-repeat: no-repeat;
                background-color: var(--color-primary);
            }
        }
        .reviews-head {
            font-size: 16px;
            color: var(--color-gray-400);
            text-align: center;
        }
        .review-name {
            font-weight: 600;
            margin-top: 20px;
            text-align: center;
        }
        .review-text {
            margin-top: 8px;
            text-align: center;
        }
    }
    .team-card-button {
        margin: 30px auto 0;
    }

    .team-reviews-slider {
        .swiper-button-prev {
            background-color: var(--color-primary);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 0;
            left: -10px;
            img {
                transform: rotate(-180deg);
                width: 12px;
            }
        }
        
        .swiper-button-next {
            background-color: var(--color-primary);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            right: -10px;
            img {
                width: 12px;
            }
        }
    }

    .swiper-button-prev-team {
        border: 1px solid var(--color-gray-400);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        top: 98%;
        left: 45%;
    }
    
    .swiper-button-next-team {
        background-color: var(--color-primary);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        top: 98%;
        right: 45%;
    }
}
@media screen and (max-width: 1199.99px) {
    .team-card {
        margin: 0 24px;
    }
    .team .swiper-button-prev-team {
        left: 44%;
    }
    .team .swiper-button-next-team {
        right: 44%;
    }
}

@media screen and (max-width: 991.99px) {
    .team-slider {
        padding: 40px 30px;
        margin: -40px -30px;
    }
    .team-card {
        margin: 0 16px;
    }
    .team .swiper-button-prev-team {
        left: 43%;
        top: 100%;
        width: 30px;
        height: 30px;
        img {
            width: 11px;
        }
    }
    .team .swiper-button-next-team {
        right: 43%;
        top: 100%;
        width: 30px;
        height: 30px;
        img {
            width: 11px;
        }
    }
}

@media screen and (max-width: 767.99px) {
    .team-slider {
        padding: 30px 20px;
        margin: -20px -20px;
    }
    .team-card {
        margin: 0 10px;
    }
    .team .swiper-button-prev-team {
        left: 42%;
    }
    .team .swiper-button-next-team {
        right: 42%;
    }
}

@media screen and (max-width: 599.99px) {
    .team-slider {
        padding: 30px 10px;
        margin: -20px -10px;
    }
    .team .swiper-button-prev-team {
        left: 40%;
    }
    .team .swiper-button-next-team {
        right: 40%;
    }
    .team .team-reviews-slider .swiper-button-prev {
        left: -20px;
    }
    .team .team-reviews-slider .swiper-button-next {
        right: -20px;
    }
    .team-card {
        padding: 25px;
    }
    .team-card__top {
        flex-wrap: wrap;
    }
    .team-card__img {
        width: 100%;
    }
    .team-card__top-info {
        width: 100%;
    }
}