.thanks {
    padding: 50px 0;
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__info {
        width: 50%;
        h3 {
            width: 50%;
        }
        p {
            color: var(--color-gray-400);
            font-size: 16px;
            margin-top: 10px;
        }
        .socials {
            display: flex;
            gap: 16px;
            margin-top: 20px;
        }
        .button {
            margin-top: 20px;
            width: 182px;
        }
    }
    &__ill {
        width: calc(50% - 50px);
        text-align: end;
        img {
            max-width: 413px;
        }
    }
}