.tour-card {
    background-color: #fff;
    box-shadow: 14px 24px 72px rgba(158, 158, 158, .15);
    max-width: 291px;
    border-radius: 16px;
    &__image {
        width: 100%;
        height: 168px;
        
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 8px;
        }
    }
    &__info {
        padding: 26px 20px;
    }
    &__tags {
        display: flex;
        margin-top: 20px;
        gap: 8px;
        flex-wrap: wrap;
        font-size: 9px;
        
        .tag {
            border-radius: 4px;
            border: 1px solid var(--color-gray-350);
            font-family: var(--font-family);
            background-color: transparent;
            color: var(--color-gray-350);
            height: 22px;
            gap: 6px;
        }
    }
    &__descr {
        color: var(--color-gray-400);
        margin-top: 20px;
        font-size: 14px;
    }
    &__price {
        font-size: 16px;
        font-weight: 500;
        font-family: var(--font-family-alt);
        margin-top: 20px;
    }
    .button {
        margin-top: 20px;
    }
}
