.tours-page {
    &__wrapper {
        display: flex;
        gap: 32px;
    }
    &__inner {
        flex: 1 1 calc(67% - 32px);
        display: flex;
        flex-wrap: wrap;
        column-gap: 3%;
        row-gap: 34px;
    }
}

@media (max-width: 1399px) {
    .tours-page {
        &__inner {
            row-gap: 26px;
        }
    }
}

@media (max-width: 991px) {
    .tours-page {
        &__wrapper {
            flex-direction: column;
        }
    }
}

@media (max-width: 599px) {
    .tours-page {
        &__inner {
            row-gap: 20px;
        }
    }
}