.tourform {
    &__wrapper {
        width: 100%;
        margin-top: 120px;
        background: #B2C5C9;
        background-image: url('../img/icons/tour form bg.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 25px;
        padding: 30px 0;
        font-weight: 500;
    }
    &__title {
        display: flex;
        justify-content: center;
    }
    &__txt {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
    &__form {
        margin-top: 25px;
    }
    &__inputs {
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            margin-right: 25px;
            font-family: var(--font-family);
            font-weight: 500;
            padding: 12px 20px;
            border-radius: 25px;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }
    label {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        font-weight: 500;
    }
}

.sw-app-body  {
    font-family: var(--font-family);
    .sw-review-box {
        background-color: initial !important;
        border-radius: 15px !important;
        &-right span {
            background: var(--color-primary);
            color: var(--color-white);
            display: flex;
            height: 40px;
            padding: 8px 25px;
            text-align: center;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 20px;
            width: -moz-fit-content;
            box-shadow: none;
            border: none;
        }
    }
    .sw-review-box-tabs {
        .sw-review-box-tabs-body {
            .sw-review-box-tab.active {
                border-radius: 25px !important;
            }
        }
    }
}